*{
    margin: 0px;
    padding: 0px;
}


.container2{
    margin: auto;
    width: 90%;
}
.lego{
    border: 1px solid black;
}
.border2{
    border: 3px solid black;
}
.marginAuto{
    margin: auto;
}
.marginTop{
    margin-top: 25px;
}
.flex{
display: flex;
}
.flex1{
    flex: 1;
}
.flex2{
    flex: 2;
}
.flex3{
    flex: 3;
}
.flex4{
    flex: 4;
}
.flex5{
    flex: 5;
}
.flex{
    flex: 6;
}
.flex-end{
    justify-content: end;
}
.spaceAround{
    justify-content: space-around;
}
.spaceBetween{
    justify-content: space-between;
}
.spaceEvenly{
    justify-content: space-evenly;
}
.textAlign{
    text-align: center;
}
.alignCenter{
	align-items: center;
}
.block{
    display: block;
}
.inline{
    display: inline;
}
.inlineBlock{
    display: inline-block;
}
.btn2{
    box-shadow: 2px 3px black;
    border: 3px solid black;
}



.navBar{
    height: 75px;
    background-color: transparent;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif ;
}
.mainContainer{
    height: 900px;
}
.column{
    width: 25%;
}
.display{
    width: 40%;
    height: fit-content;
    background-color: transparent
}
.box{
    height: 30%;
}
.drop{
    height: 20%;

}

.dropDown{
    width: 100%;
    height: 40px;
}


.carouselDescription{
    text-align: center;
    font-weight: bold;
}

.displayName{
    margin: auto;
    color: white;
    text-align: center;
}
.table2{
    width: 900px;
}

.table6{
    overflow: auto;
    height: 300px;
}

.error{
    color: red;
}

.form{
    width: 900px;
}


